<footer>
 <div class="py-4 bg-dark text-white">
  <div class="container">
   <div class="row">
    <div class='onesignal-customlink-container'></div>
    <div id="mc_embed_signup" class="col-12">
     <p class="lead text-center">Sign up to our newsletter</p>
     <form class="form-inline justify-content-center validate" action="https://mylawards.us20.list-manage.com/subscribe/post?u=13239ef5de3cb3ee92ab0c778&amp;id=c9d17329ba"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>

      <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Your e-mail here">
      <input type="submit" class="btn btn-primary my-2 mx-2" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      <div id="mce-responses" class="clear">
       <div class="response" id="mce-error-response" style="display:none"></div>
       <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
       <input type="text" name="b_74004b853ac2bd46e76b96ba7_93c256bffc" tabindex="-1" value="">
      </div>
     </form>
    </div>
   </div>
   <div class="row">
    <div class="col-md-12 mt-3 text-center">
     <p>© Copyright
      <script type="text/javascript">
       setTimeout(document.write(new Date().getFullYear()),0);
      </script> MYLA - All rights reserved.</p>
    </div>
   </div>
  </div>
 </div>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!-- <script src="myla.js"></script>  -->
<script async src="https://akaban01.000webhostapp.com/sw-controller-myla.js"></script>
<script>
 for (var i = 0; i < JqueryFuncs.length; i++) { JqueryFuncs[i](); }
</script>
</body>

</html>
